# Synthesising a Real World Phenomenon

In this project I plan to:

1) Choose a real world phenonenon that can be measured and fioor which I can collect at least 100 data points across at least four variables.

2) Investigate the types of variables involved, their likely distributions, and their relationships with each other.

3) Synthesise a data set as closely matching their properties as possible.

## The Python Libraries to be used

Numpy is the fundamental package for scientific computing with Python. Besides it's scientific uses it can also be used as an efficient multi-dimensional container of generic data.

Pandas is a package providing fast, flexible and expressive data structures designed to make working with data both easy and initutive.

Matplotlib is a Python 2D plotting library which produces publication quality figures in a variety of hardcopy formats and interactive environments across platforms.

Seaborn is a Python data visualizition library based on Matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics.

In [2]:
# Upload the Python packages I plan on using

import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Data for this project

I have selected data on CO2 Emissions from Fossil Fuels since 1751, By Nation form datahub.io

In [6]:
df = pd.read_csv("nation.csv")
df.head(20)

,Nation,Year,Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C),Emissions from solid fuel consumption,Emissions from liquid fuel consumption,Emissions from gas fuel consumption,Emissions from cement production,Emissions from gas flaring,Per capita CO2 emissions (metric tons of carbon),Emissions from bunker fuels (not included in the totals)
0,AFGHANISTAN,1949,4,4,0,0,0,.,.,0
1,AFGHANISTAN,1950,23,6,18,0,0,0,0,0
2,AFGHANISTAN,1951,25,7,18,0,0,0,0,0
3,AFGHANISTAN,1952,25,9,17,0,0,0,0,0
4,AFGHANISTAN,1953,29,10,18,0,0,0,0,0
5,AFGHANISTAN,1954,29,12,18,0,0,0,0,0
6,AFGHANISTAN,1955,42,17,25,0,0,0,0,0
7,AFGHANISTAN,1956,50,17,33,0,0,0,0.01,0
8,AFGHANISTAN,1957,80,21,59,0,0,0,0.01,0
9,AFGHANISTAN,1958,90,25,65,0,0,0,0.01,0
10,AFGHANISTAN,1959,105,30,70,0,5,0,0.01,0
11,AFGHANISTAN,1960,113,35,74,0,5,0,0.01,0
12,AFGHANISTAN,1961,134,48,80,0,6,0,0.01,0
13,AFGHANISTAN,1962,188,81,99,0,8,0,0.02,0
14,AFGHANISTAN,1963,193,72,107,0,14,0,0.02,0
15,AFGHANISTAN,1964,229,82,130,0,17,0,0.02,0
16,AFGHANISTAN,1965,275,104,148,0,23,0,0.03,0
17,AFGHANISTAN,1966,298,117,157,0,24,0,0.03,0
18,AFGHANISTAN,1967,350,109,152,71,18,0,0.03,0
19,AFGHANISTAN,1968,334,91,136,95,13,0,0.03,0