# Synthesising a Real World Phenomenon

In this project I plan to:

1) Choose a real world phenonenon that can be measured and fioor which I can collect at least 100 data points across at least four variables.

2) Investigate the types of variables involved, their likely distributions, and their relationships with each other.

3) Synthesise a data set as closely matching their properties as possible.

## The Python Libraries to be used

Numpy is the fundamental package for scientific computing with Python. Besides it's scientific uses it can also be used as an efficient multi-dimensional container of generic data.

Pandas is a package providing fast, flexible and expressive data structures designed to make working with data both easy and initutive.

Matplotlib is a Python 2D plotting library which produces publication quality figures in a variety of hardcopy formats and interactive environments across platforms.

Seaborn is a Python data visualizition library based on Matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics.

In [2]:
# Upload the Python packages I plan on using

import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Data for this project

I have selected data on CO2 Emissions from Fossil Fuels since 1751, By Nation form datahub.io

In [77]:
df = pd.read_csv("nation.csv")
df.head(20)

,Nation,Year,Emissions_solid_fuel,Emissions_liquid_fuel,Emissions_gas_fuel,Emissions_cement_production,Emissions_gas_flaring,Per_capita_CO2_emissions
0,AFGHANISTAN,1949,4,0,0,0,.,.
1,AFGHANISTAN,1950,6,18,0,0,0,0
2,AFGHANISTAN,1951,7,18,0,0,0,0
3,AFGHANISTAN,1952,9,17,0,0,0,0
4,AFGHANISTAN,1953,10,18,0,0,0,0
5,AFGHANISTAN,1954,12,18,0,0,0,0
6,AFGHANISTAN,1955,17,25,0,0,0,0
7,AFGHANISTAN,1956,17,33,0,0,0,0.01
8,AFGHANISTAN,1957,21,59,0,0,0,0.01
9,AFGHANISTAN,1958,25,65,0,0,0,0.01
10,AFGHANISTAN,1959,30,70,0,5,0,0.01
11,AFGHANISTAN,1960,35,74,0,5,0,0.01
12,AFGHANISTAN,1961,48,80,0,6,0,0.01
13,AFGHANISTAN,1962,81,99,0,8,0,0.02
14,AFGHANISTAN,1963,72,107,0,14,0,0.02
15,AFGHANISTAN,1964,82,130,0,17,0,0.02
16,AFGHANISTAN,1965,104,148,0,23,0,0.03
17,AFGHANISTAN,1966,117,157,0,24,0,0.03
18,AFGHANISTAN,1967,109,152,71,18,0,0.03
19,AFGHANISTAN,1968,91,136,95,13,0,0.03

In [74]:
df.info()  # A look a some high level information of the dataframe. Dataset is quite large, I will reduce it for this project

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 7718 to 7732
Data columns (total 8 columns):
Nation                         15 non-null object
Year                           15 non-null int64
Emissions_solid_fuel           15 non-null object
Emissions_liquid_fuel          15 non-null object
Emissions_gas_fuel             15 non-null object
Emissions_cement_production    15 non-null int64
Emissions_gas_flaring          15 non-null object
Per_capita_CO2_emissions       15 non-null object
dtypes: int64(2), object(6)
memory usage: 1.1+ KB

In [85]:
df = df[(df.Year>1999)]       # Will focus on the years 2000 to 2014
df.head(20)
df.drop(["Emissions_cement_production", "Emissions_gas_flaring"], axis=1)# limiting the data to 4 variables so dropping two cols
df.head(20)

,Nation,Year,Emissions_solid_fuel,Emissions_liquid_fuel,Emissions_gas_fuel,Emissions_cement_production,Emissions_gas_flaring,Per_capita_CO2_emissions
51,AFGHANISTAN,2000,1,136,61,7,6,0.01
52,AFGHANISTAN,2001,19,134,57,7,6,0.01
53,AFGHANISTAN,2002,15,120,149,8,0,0.01
54,AFGHANISTAN,2003,25,164,127,10,0,0.01
55,AFGHANISTAN,2004,25,162,62,10,0,0.01
56,AFGHANISTAN,2005,29,235,90,8,0,0.01
57,AFGHANISTAN,2006,44,310,90,7,0,0.02
58,AFGHANISTAN,2007,204,327,84,4,0,0.02
59,AFGHANISTAN,2008,294,767,81,5,0,0.04
60,AFGHANISTAN,2009,419,1349,74,4,0,0.07
61,AFGHANISTAN,2010,627,1601,74,5,0,0.08
62,AFGHANISTAN,2011,1174,2075,84,5,0,0.12
63,AFGHANISTAN,2012,1000,1844,84,5,0,0.1
64,AFGHANISTAN,2013,1075,1568,81,7,0,0.09
65,AFGHANISTAN,2014,1194,1393,74,14,0,0.08
133,ALBANIA,2000,19,776,6,24,0,0.27
134,ALBANIA,2001,22,853,4,0,0,0.29
135,ALBANIA,2002,23,993,7,0,0,0.33
136,ALBANIA,2003,23,1062,7,79,0,0.38
137,ALBANIA,2004,23,1026,9,78,0,0.36

In [79]:
df_year = df.groupby("Year")

In [80]:
type(df_year)

pandas.core.groupby.groupby.DataFrameGroupBy

In [81]:
df_year.mean().head()

      Emissions_cement_production
Year
2000                  1056.383178
2001                  1103.651163
2002                  1166.615741
2003                  1279.055556
2004                  1378.263889

In [82]:
df_nation = df.groupby("Nation")

In [83]:
type(df_nation)

pandas.core.groupby.groupby.DataFrameGroupBy

In [84]:
df.loc[:,["Nation","Year", "Per_capita_CO2_emissions"]].head(10)

         Nation  Year Per_capita_CO2_emissions
51  AFGHANISTAN  2000                     0.01
52  AFGHANISTAN  2001                     0.01
53  AFGHANISTAN  2002                     0.01
54  AFGHANISTAN  2003                     0.01
55  AFGHANISTAN  2004                     0.01
56  AFGHANISTAN  2005                     0.01
57  AFGHANISTAN  2006                     0.02
58  AFGHANISTAN  2007                     0.02
59  AFGHANISTAN  2008                     0.04
60  AFGHANISTAN  2009                     0.07